<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @camera.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @camera.name %>
</p>

<p>
  <strong>Privacy:</strong>
  <%= @camera.privacy %>
</p>

<p>
  <strong>Username:</strong>
  <%= @camera.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @camera.password %>
</p>

<%= link_to 'Edit', edit_camera_path(@camera) %> |
<%= link_to 'Back', cameras_path %>
